:root {
  --primary-color: #35363a;
  --secondary-color: #a38350;
  --white-color: #ffffff;
}

@font-face {
  font-family: marcellus;
  src: url("../fonts/Marcellus-Regular.ttf");
}

* {
  font-family: marcellus;
  direction: ltr;
}

/* Start Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 1.5rem 4rem;
  background: var(--primary-color);
}

/* .header img.logo {
  width: 19.133rem;
  height: 4.438rem;
} */

.header .menu .navbar-expand-lg .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.header .menu .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0 !important;
  padding-bottom: 0.5rem !important;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.header .menu .navbar-expand-lg .navbar-nav .nav-link:hover {
  border-bottom: 2px solid var(--secondary-color);
}
.header .menu .navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  border-bottom: 2px solid var(--secondary-color);
}

.header .menu .navbar-expand-lg .navbar-nav .nav-item .nav-link {
  color: var(--white-color);
  font-size: 1rem;
}

.header .nav-actions-container {
  margin-left: 1.5rem;
  padding-left: 1.5rem;
  border-left: 1px solid var(--white-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.header .nav-actions-container a {
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--white-color);
}

.out-line-btn {
  color: var(--white-color);
  border: 1px solid var(--secondary-color);
  border-radius: 40px;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
}

.out-line-btn:hover {
  background: var(--secondary-color);
}

.full-primary-btn {
  color: var(--white-color);
  border: 1px solid var(--secondary-color);
  background: var(--secondary-color);
  border-radius: 40px;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.full-primary-btn:hover {
  background: var(--primary-color);
}

/* End Header */

/*medium screen*/
@media (max-width: 1400px) {


}

@media (max-width: 992px) {
  .header .navbar {
    position: static;
    padding-inline: 0;
  }

  .header .navbar-collapse {
    position: absolute;
    z-index: 5;
    top: 12%;
    background: var(--primary-color);
    border-radius: 0.3rem;
    right: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  }

  .header .nav-actions-container {
    padding-left: unset;
    border-left: none;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
  }

}

@media (max-width: 767px) {
  .header {
    padding: 1rem 2rem 1rem;
  }

  .header .navbar-collapse {
    top: 10%;
  }

  .header img.logo {
    width: 10rem;
    height: auto;
  }

}
